<section class="blog-container">
  <h1>Single Blogpost!</h1>
  <article class="blog-summary">
		<!-- <blogpost-details blogpost="vm.player"></blogpost-details> -->
    <h1>{{ vm.blogpost.title }}</h1>
    <p> {{ vm.blogpost.text }}</p>
    <ul class="blog-metadata">
      <li>{{ vm.blogpost.author }}</li>
      <li>{{ vm.blogpost.date }}</li>
      <li>4 comments</li>
    </ul>
    <a class="btn-primary" href="#/blogposts/{{ blogpost._id }}">Read More</a>
    <button ng-click="vm.delete(blogpost)">Delete</button>
  </article>
</section>
