%icon-font-base {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

//example of using logic to create icons needed:

// $iconPrimary:
// (computer 2em 2.5rem "\e600")
// .icon-linkedin:before {
//   content: "\e804";
// }

// @each $iconP in $iconPrimary {
//   .icon-#{nth($iconP, 1)} {
//     @extend %icon-font-base;
//     font-size: #{nth($iconP, 2)};
//     background-color: transparent;
//     color: color('accent');
//     width: 100%;
//     padding: nth($iconP, 3);
//     @include icon-border($color: border('primary'));
//     &:before {
//       content: nth($iconP, 4);
//     }
//   }
// }

// Icon Styles included below:
.icon-pinterest:before {
  content: "\e800";
}
.icon-google:before {
  content: "\e801";
}
.icon-twitter:before {
  content: "\e802";
}
.icon-facebook:before {
  content: "\e803";
}
