.blog-container {
  padding: 5% 10%;
  @media only screen and (min-width) {
    padding: 0 20%;
  }
  h1 {
    font-family: font-family('primary', 'regular');
    font-size: font-size('xx-large');
    text-align: center;
  }
}
