@mixin button($background, $color, $hover-bg, $hover-color) {
  font-family: font-family('primary', 'medium');
  font-size: font-size('small');
  letter-spacing: .125em;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  width: 12em;
  padding: 1em 0;
  border: solid 1px;
  background-color: $background;
  color: $color;
  border-color: $background;
  border-radius: .5em;
  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
    border-color: $hover-bg;
  }
}

.btn-primary {
  @include button(color('primary'), color('base'), color('accent'), color('base'));
}

.btn-secondary {
  @include button(color('accent'), color('base'), color('base'), color('primary'));
}
