.contact-social-links-wrapper {
  text-align: center;
  padding-bottom: 3em;
  @media screen and (min-width: 50em) {
    float: right;
    padding-right: 5em;
    // width: 30em;
    display: inline;
  }
  ul {
    @include flexbox;
    width: 25em;
    // clear: both;
  }
  li {
    @include flexitem;
    list-style-type: none;
    // display: inline;
    text-align: center;
  }
  a {
    position: relative;
    &:before {
      font-size: 1.5em; //icon font
    }
    &:after {}
  }
  span {
    text-transform: uppercase;
  font-size: 0.5em;
  text-align: center;
  padding-top: 2.5em;

  }
}
.border-circle {

  position: absolute;
  border: 0.2em solid gray;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  top: 5px;
  left: 0px;
  content:"";
  z-index: -1;
}



