footer {
  text-align: center;
  border-top: 0.1em solid black;
  clear: both;
  width: 100%;
  @media screen and (min-width: 50em) {
    clear: both;
  }
  ul {

  }
  li {
    list-style-type: none;
    padding: 0.1em;
    @media screen and (min-width: 50em) {
      display: inline;
      padding: 0.5em;
    }
  }
  a {
    text-decoration: none;
  }
}
