@import "header/header-logo";
@import "header/header-nav";

.header-container {
	background-color: color($key: 'primary');
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	h1, a {
		color: color($key: 'base');
	}
}