.page-guide {
  text-align: center;
  font-size: font-size($key: 'x-small');
  font-family: font-family('primary', 'light');
  text-transform: uppercase;
  clear: both;
  ul {
    margin: 0 auto;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: color($key: 'primary');
    &:hover {
      color: color($key: 'accent');
    }
  }
}
