// share social icons
.share-social-icons {
  font-size: font-size($key: 'x-small');
  font-family: font-family('primary', 'light');
  text-align: center;
  padding: 0.5em;
  //On media call do this:
  @media screen and (min-width: 50em) {
    float: right;
    padding-right: 5em;
  }

  p {
    display: inline;
  }
  ul {
    display: inline;
    padding-left: 0;
  }
  li { // icons
    display: inline;
    padding-left: 0.5em;
  }
  a {
    text-decoration: none;
    color: color($key: 'primary');
    &:hover {
      color: color($key: 'accent');
    }
  }
}
