@font-face {
  font-family: 'icomoon';
  src:url('/../../fonts/icomoon.eot?xktnuc');
  src:url('/../../fonts/icomoon.eot?xktnuc#iefix') format('embedded-opentype'),
    url('/../../fonts/icomoon.ttf?xktnuc') format('truetype'),
    url('/../../fonts/icomoon.woff?xktnuc') format('woff'),
    url('/../../fonts/icomoon.svg?xktnuc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
