// Breakpoint for Media Queries
$break: 50em;

// Color Maps

$colors: (
  'base': #fff,
  'primary': #1e1d24,
  'secondary': #b4b3b5,
  'accent': #97f1e7,
);

//Pixels to Em Function
$browser-context: 24; // Default Browser Pixel Size
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//text size maps
$font-size: (
  'x-small': em(22),
  'small': em(24),
  'medium': em(28),
  'large': em(32),
  'x-large': em(36),
  'xx-large': em(42),
  'mega-small': em(56),
  'mega-medium': em(72),
  'mega-large': em(80),
);


//font family map
$font-family: (
  'primary': (
    'light': 'Ubuntu-Light' sans-serif,
    'light-italic': 'Ubuntu-Light-Italic' sans-serif,
    'regular': 'Ubuntu-Regular' sans-serif,
    'medium': 'Ubuntu-Medium' sans-serif,
    'bold': 'Ubuntu-Bold' sans-serif
  ),
  'secondary': (
    'light': 'RobotoSlab-Light' serif,
    'regular': 'RobotoSlab-Regular' serif
  ),
);
