//colors
$color_alto_approx: color('primary');
$color_black_haze_approx: #f6f6f6;

.primary-nav-wrap {
	ul {
		float: right;
		margin: 0;
		padding: 0;
		a {
			display: block;
			font-weight: 700;
			font-size: 12px;
			line-height: 32px;
			padding: 0 15px;
			font-family: font-family('primary', 'regular');
		}
		li {
			margin: 0;
			padding: 0;
			&.current-menu-item {
				background: $color_alto_approx;
			}
			&:hover {
				background: $color_black_haze_approx;
				> ul {
					display: block;
				}
			}
		}
		ul {
			display: none;
			top: 100%;
			left: 0;
			padding: 0;
			li {
				float: none;
				width: 200px;
			}
			a {
				line-height: 120%;
				padding: 10px 15px;
			}
			ul {
				top: 0;
			}
		}
	}
}
