//colors
$color_alto_approx: #ddd;
$color_black_haze_approx: #f6f6f6;
$white: #fff;

//fonts
$font_0: HelveticaNeue;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;

.primary-nav-wrap {
	ul {
		list-style: none;
		float: right;
		margin: 0;
		padding: 0;
		a {
			display: block;
			text-decoration: none;
			font-weight: 700;
			font-size: 12px;
			line-height: 32px;
			padding: 0 15px;
			font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
		}
		li {
			margin: 0;
			padding: 0;
			&.current-menu-item {
				background: $color_alto_approx;
			}
			&:hover {
				background: $color_black_haze_approx;
				> ul {
					display: block;
				}
			}
		}
		ul {
			display: none;
			top: 100%;
			left: 0;
			padding: 0;
			li {
				float: none;
				width: 200px;
			}
			a {
				line-height: 120%;
				padding: 10px 15px;
			}
			ul {
				top: 0;
			}
		}
	}
}